ESRS_Disclosure/flows/Trigger_ESRS_report_using_Assessment_Summary_from_Disclosure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get Assessment Response Summary</description>
        <name>Get_Assessment_Response_Summary</name>
        <label>Get Assessment Response Summary</label>
        <locationX>584</locationX>
        <locationY>758</locationY>
        <actionName>getAssessmentResponseSummary</actionName>
        <actionType>getAssessmentResponseSummary</actionType>
        <connector>
            <targetReference>RequestText1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assessmentId</name>
            <value>
                <elementReference>GetDisclosureId.Assessment.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getAssessmentResponseSummary</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>{&quot;keepIntermediate&quot;:true,&quot;title&quot;:&quot;TestFlows&quot;,&quot;templateContentVersionId&quot;:&quot;068B000000BTCdg&quot;}</description>
        <name>RequestText1</name>
        <label>RequestText</label>
        <locationX>584</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>RequestText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{&quot;keepIntermediate&quot;:true,&quot;title&quot;:&quot;{!GetDisclosureId.Name} {!getTemplateVersion.ContentDocument.Title}&quot;,&quot;templateContentVersionId&quot;:&quot;{!getTemplateVersion.Id}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Document_Generation_Process</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_Current_user</name>
        <label>Check the Current user</label>
        <locationX>674</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>Error_Message_for_Document_Generation_Processes_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_User_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDisclosureId.CreatedBy.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOS</targetReference>
            </connector>
            <label>Check User Info</label>
        </rules>
    </decisions>
    <description>This flow is to trigger the Assessment summary Action to generate the Documents with Assessment Questions responses.</description>
    <environments>Default</environments>
    <interviewLabel>Trigger ESRS report using Assessment Summary from Disclosure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger ESRS report using Assessment Summary from Disclosure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Document_Generation_Process</name>
        <label>Create Document Generation Process</label>
        <locationX>584</locationX>
        <locationY>976</locationY>
        <connector>
            <targetReference>Document_Generation_Processes_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ReferenceObject</field>
            <value>
                <elementReference>GetDisclosureId.Assessment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestText</field>
            <value>
                <elementReference>RequestText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TokenData</field>
            <value>
                <elementReference>Get_Assessment_Response_Summary.assessmentResponseSummary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>GenerateAndConvert</stringValue>
            </value>
        </inputAssignments>
        <object>DocumentGenerationProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetDisclosureId</name>
        <label>GetDisclosureId</label>
        <locationX>858</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Current_user</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Disclosure</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDocGenTemplateId</name>
        <label>Get Template Id</label>
        <locationX>584</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTemplateVersion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOS.OmniProcessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOS</name>
        <label>Get Omni Process Id</label>
        <locationX>589</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOS1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDisclosureId.Assessment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OmniProcessId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOS1</name>
        <label>Get Omni Process</label>
        <locationX>584</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDocGenTemplateId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOS.OmniProcessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OmniProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTemplateVersion</name>
        <label>Get Template Version Id</label>
        <locationX>584</locationX>
        <locationY>652</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assessment_Response_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDocGenTemplateId.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Document Generation Processes</description>
        <name>Document_Generation_Processes_Results</name>
        <label>Document Generation Processes Results</label>
        <locationX>584</locationX>
        <locationY>1084</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Successfull_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(24, 24, 24); background-color: rgb(255, 255, 255);&quot;&gt;Document generation was initiated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>848</locationX>
        <locationY>1084</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error for Document Generation Processes</description>
        <name>Error_Message_for_Document_Generation_Processes_Results</name>
        <label>Error Message for Document Generation Processes Results</label>
        <locationX>772</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warning_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24); font-size: 14px;&quot;&gt;You don&apos;t have access to generate the document. Your Salesforce admin can help with that.&lt;/span&gt;&lt;span style=&quot;color: rgb(24, 24, 24); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Got It</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>394</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetDisclosureId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DisclosureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>RequestText</description>
        <name>RequestText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
